body, html {
    margin: -6px;
    padding: 0;
    overflow-x: hidden; 
}

.ab_ab {
    overflow-x: hidden; 
}

.background-section {
    position: relative;
    overflow: hidden;
    width: 100vw; 
    height: 100vh; 
}



video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}




.nav-link{
    color: white !important;
}
.ab_cd{
    border-radius: 6px;
    padding: 2px 17px ;
    background-color: rgb(105, 33, 33);
    color: white;
    border: none;
    width: 162px !important;
}
@media screen and (min-width: 993px) {
    /* Example styles */
    .ab_fg{
      display: block;
    }
    .ab_gd {
        display: none;
    }
}
@media screen and (max-width: 993px) {
    /* Example styles */
    .ab_gd {
        display: block;
        width: 63%;
}
    
    .ab_mn{
        margin-right: -140px !important;
    }
    .ab_fg{
        display: none;
      }
}
button.navbar-toggler {
    border: none;
    background-color: rgba(13, 13, 19, 0.312);
}
.ab_op{
    margin: 10px;
}
.ab_op {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
  }
  
  .ab_op:hover {
    background-color: white; 
    color: black !important; 
    border-radius: 5px; 
  }
  .ab_cf:hover {
    background-color: white; 
    color: black !important; 
    border-radius: 5px; /
  }
  
  
  .card {
    display: inline-block;
    height: 280px;
    width: 250px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  .card12 {
    display: inline-block;
    height: 280px;
    width: 76%;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 1%;
    padding: 12px;
    color: white;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 2px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }
  select.form-select option.optvle {
    /* CSS properties for the option with optvle class */
    /* Example styles */
    color: #000;
    /* Text color */
    background-color: #f1f1f1;
    /* Background color */
    padding: 120px 10px;
    /* Padding */
    width: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(160, 158, 158);
    padding: 15px;
    font-size: 15px;
    border-radius: 50%;
    color: white;
}

.icon {
    color: black;
    padding: 1px 6px;
    font-size: 16px;
    border-radius: 50%;

}

/* .desktop {
    display: none;
} */


@media screen and (min-width: 768px) {

    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }

    .scroll-images {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        justify-content: center;
    }

    .scroll-images::-webkit-scrollbar {
        -webkit-appearance: none;
    }


    .carousel {
        display: none;
    }

    .tablinks,
    .tablinks2,
    .tablinks3,
    .tablinks4 {
        display: flex !important;
        width: 100% !important;
        margin: auto;
    }

    .desktop {
        display: block;
        justify-content: center;

    }

    .fileline {
        border: thin;
        background-color: #919191 !important;
    }
}

.tabresact {
    border-bottom: 2px solid #02a9f4 !important;
    color: #02a9f4 !important;
}

.tablinks.active {
    border-bottom: 2px solid #02a9f4 !important;
    color: #02a9f4 !important;
    background: none;
    border: none;
}
.vfgn_mnh{
  background: none;
    border: none;
}

.tablinks:hover {
    border-bottom: 2px solid #02a9f4 !important;
}

.child {
    /* min-width: 130px; */
    height: 42px;
    margin: 0px 10px;
    overflow: hidden;
    margin-top: 13px;
    margin-bottom: -8px;
    font-size: 14px;
    cursor: pointer;
}

.tabcontent {
    display: none;
    padding: 7px 0px 5px 0px;
    background-color: #ffffff !important;
    border-top: none;
}

.slidemt {
    height: 54px;
    margin-top: -13px;
}

.tabsss {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.tabsss::-webkit-scrollbar {
    display: none;
}

.scroll_left {
    position: absolute;
    top: 40%;
    left: 0;
    border: none;
    background: none;
}

.tabsss {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.tabs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.scroll_right {
    position: absolute;
    top: 40%;
    right: 0;
    border: none;
    background: none;
}

@media(max-width:767px) {
    .tablisticons {
        display: none;
    }
}


.tab-container ul::-webkit-scrollbar,.tab-container1 ul::-webkit-scrollbar {
    display: none;
}

.tab-container,.tab-container1 {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.tab-container ul,.tab-container1 ul {
    list-style-type: none;
    margin: 0px 3px;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s;

}

.tab-container li,.tab-container1 li {
    display: inline-block;
    margin-right: 0px;
}

/* .tab-link {
            display: block;
            padding: 10px 20px;
            background-color: #f0f0f0;
            color: #333;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        } */

/* .tab-link:hover {
            background-color: #e0e0e0;
        } */

.tab-arrow {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    /* height: 40px; */
    background-color: white;
    color: #ccc;
    /* font-size: 20px;
            display: flex; */
    /* align-items: center;
            justify-content: center; */
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 1;
    opacity: 2;
    visibility: hidden;
}

.arrowfont {
    font-size: 16px;
}


.tab-arrow.lefts {
    left: 0;
}

.tab-arrow.rights {
    right: 0;
}

/* Show arrows when there is an overflow */
.show-arrows .tab-arrow {
    opacity: 1;
    visibility: visible;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(160, 158, 158);
    padding: 15px;
    font-size: 15px;
    border-radius: 50%;
    color: white;
}

.icon {
    color: black;
    padding: 1px 6px;
    font-size: 16px;
    border-radius: 50%;

}

.desktop {
    display: none;
}

/* 
        .tablinks {
            margin: auto;
        } */

@media(max-width:480px) {
    .invtabhdr {
        border-bottom: none !important;
        margin-left: -2px;
        border-top: none !important;
        margin-top: 14px !important;
    }
}

@media screen and (min-width: 480px) {

    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }

    .carousel23 {
        display: none;
    }

    /* .tablinks {
                display: flex !important;
                width: 100% !important;
               
            } */

    .desktop {
        display: block;

    }

}

/*new tab btns*/
.proposaltabbtns {
    width: 100%;
    text-align: right;
}

@media (min-width: 768px) and (max-width: 1024px) {

    .tabbtnwidth {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .protabbtn {
        width: 100%;
    }

}

.carousel23 {
    display: none;
}



@media (max-width:480px) {
    .carousel23 {
        display: block !important;
    }
}

.carousel23 {
    display: none;
}


.carousel23 {
    display: none;
}

@media (max-width:1097px) {
    .propnewtask {
        margin-left: 0 !important;
    }
}

@media (max-width:1011px) {
    .Payment-btn {
        margin-top: 0px !important;
    }
}

@media (max-width:768px) {
    .Payment-btn {
        margin-top: 0px !important;
    }
}

@media (max-width:472px) {
    .Payment-btn {
        margin-top: 10px !important;
    }
}

/* transaction asccounting */
.tablinks2,
.tablinks3,
.tablinks4 {
    display: inline;
    padding: 10px;
    cursor: pointer;
    margin-right: 15px;
    border: none;
    outline: none;
    background: white;
}

@media(max-width:768px){
    .tablinks4{
        margin-left: 8px;
    }
}
.tablinks2.active,
.tablinks3.active,
.tablinks4.active {
    border-bottom: 2px solid #02a9f4 !important;
    color: #02a9f4 !important;
}

.tablinks2:hover,
.tablinks3:hover,
.tablinks4:hover {
    border-bottom: 2px solid #02a9f4 !important;
}

.nav-tabs > li {
  display: none;
}
.nav-tabs > li.active {
  display: block;
}
@media (min-width: 768px) {
  .navigation-icons {
    display: none !important;
  }
  .nav-tabs > li {
    display: block;
  }
  #nextIcon, #prevIcon{
    display: none;
  }
}
.custom-navbar{
display: grid;
grid-template-columns: 1fr 5fr 1fr;
text-align: center;
}
ul a{
margin: auto !important;
}
.ti-arrow-left, .ti-arrow-right{
top: 10px;
}
#slideNav{
place-self: center;
}
.custom-navbar span {
display: block;
margin: 13px;
}
.footer{
  margin-top: 15px;
}
.foot-panel{
  background-color: #374758;
  color: white;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  
}
.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 166px;
  display: flex;
  justify-content: space-between; 
}
.foot-panel3{
  background-color: #222f3d;
  color: white;
  border-top: 0.5px solid black;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:  0.5px solid black;
}
.logo{
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;   
}
.foot-panel4{
  background-color: #0f1111;
  color: white;
  display: block;
  justify-content: center;
  height: 76px;
  align-items: center;
}
.pages{
  font-size: 0.85rem;
  text-align: center;
  padding: 15px;
}
.copyright{
  font-size: 0.85rem;
  text-align: center;
}


@mixin aspect-ratio($width, $height) {
  position: relative;
    
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
    
  > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
  }
}



section {
    background: #F4F4F4;
    padding: 50px 0;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
}

.carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;
    
    > input {
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(50%);
        height: 1px;
        width: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        
        &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
        &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
        &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
        &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
        &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
        &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
        
        &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
        &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px rgba(0,0,255,0.5); }
    }
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
    
    figure {
        display: flex;
        margin: 0;
    }
    
    div {
        @include aspect-ratio(3, 2);
        width: 100%;
    }
    
    img {
        display: block;
        flex: 1 1 auto;
        object-fit: cover;
    }
    
    figcaption {
        align-self: flex-end;
        padding: 20px 20px 0 20px;
        flex: 0 0 auto;
        width: 25%;
        min-width: 150px;
    }
    
    .credit {
        margin-top: 1rem;
        color: rgba(0, 0, 0, 0.5);
        display: block;        
    }
    
    &.scrollable {
        overflow-y: scroll;
    }
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
    margin: 0 -10px;
    
    .carousel__slides + & {
        margin-top: 20px;
    }
    
    li {        
        flex: 1 1 auto;
        max-width: calc((100% / 6) - 20px);  
        margin: 0 10px;
        transition: all 300ms ease-in-out;
    }
    
    label {
        display: block;
        @include aspect-ratio(1,1);
        
                  
        &:hover,
        &:focus {
            cursor: pointer;
            
            img {
                box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.25);
                transition: all 300ms ease-in-out;
            }
        }
    }
    
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column1 {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column1 {
    width: 100%;
    display: block;
  }
}

.card22 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.container0 {
  padding: 0 16px;
}

.container0::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button23 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button23:hover {
  background-color: #555;
}



.row234 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column234 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column234 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column234 {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column234 {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 450px) {
   .dvgt_poi{
    width: 80% !important;
    margin-top: 32% !important;
    margin-left: 10% !important;
}
.dvgt_poi1{
    width: 80% !important;
    margin-top: 15% !important;
    margin-left: 10% !important;
}
 
    .bgnv-jkld{
        width: 100% !important;
    }
    .bgnv-jkld1{
        width: 100% !important;
    }
    #content7{
        margin-left: 6% !important;
    }
    .card{
        margin-left: 0px !important;
    }
  }
 
   .content-overlay {
    position: absolute;
    top: 81%;
    left: 33%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: -1;
    font-size: 61px;
    font-weight: 900;
    width: 67%;
    text-align: revert-layer;
}
@media screen and (max-width: 460px) {
    .content-overlay {
        position: absolute;
        top: 59%;
        left: 33%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        z-index: 1;
        font-size: 61px;
        font-weight: 900;
        width: 67%;
        text-align: revert-layer;
    }
   }
   input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container4321 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column4321 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row4321:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column4321, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .carousel__slide {
      width: 100%; /* Ensure each slide takes up the full width */
    }
    
    .carousel__slide img {
      width: 176px; /* Make images responsive */
    }
    
    .carousel__slide figcaption {
      width: 100%; /* Ensure captions take up the full width */
      min-width: auto; /* Disable minimum width */
    }
  }
  



  .bi-arrow-left::before {
    height: 20px;
    font-size: 21px;
}
.bi-arrow-left::before {
  content: "\f12f";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bi-arrow-right::before {
  height: 20px;
  font-size: 21px;
}
.bi-arrow-right::before {
  content: "\f138";
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
@media screen and (max-width: 550px){
  .kjhg_dfg{
    margin-top: 60% !important;
  }
}



